<!DOCTYPE html>
<html>
  <head>
    <title>My Academy Quest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <main class="container mx-auto px-6 py-8">
      <%= yield %>
    </main>
  </body>
</html>
